<div class="how-to-container" appBodyTheme [darkTheme]="darkTheme">
    <section class="how-to" appSectionTheme [darkTheme]="darkTheme">
        <h1 class="title-section" appTitleSection [darkTheme]="darkTheme">How to use it</h1>
        <p>
            Write an <span class="key-word" appDataTheme [darkTheme]="darkTheme">id</span> (an integer like 23, 41, 106, 409, 1002, etc) or a 
            <span class="key-word" appDataTheme [darkTheme]="darkTheme">pokemon name</span> inside the 
            <span class="key-word" appDataTheme [darkTheme]="darkTheme">input</span>, press the <span class="key-word" appDataTheme [darkTheme]="darkTheme">search button</span> 
            and navigate through the <span class="key-word" appDataTheme [darkTheme]="darkTheme">options from above</span> to get pokemon data. 
            Don't worry if the name or the id doesn't match with an existing pokemon, an error message'll appear.
            During the development of this application the first id is "1" and the last one is "1025", so, you have over 1000 pokemon to see. Have fun!.
        </p>
    </section>
</div>
